body{
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}
.background-image{
    text-align: center;
    padding-top: 10%;
    height: 100%;
    background-image: url(donate-today-main/images/UN0642170.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
   padding: 250px 100px;
 
   
}
.donate{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    border-radius: 9px;
    
}
.text-al{
    color:tomato;
    font-size:xx-large;
}
.s-part{
    text-align: center;
}
.h-bold{
    font-size: xx-large;
}
.flax{
    display: flex;
}
#div{
 padding: 3.5%;
    font-size: xx-large;
    margin: 1% 3%;
    opacity: 0.6;
}
.tk{
    opacity: 0.6;
    background-color: rgb(227, 172, 172);
    border: 2px solid red;
}
.ot-tk{
    text-decoration:none;
    border-bottom: 2% solid black;
    color: black;
   
}
.thard-part{
    display: flex;
}
.box-div{
    background-color: rgb(128, 128, 248);
    width: 28%;
    text-align: left;
    padding: 15px;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 10px;
}
.box-diva{
    background-color:rgb(244, 137, 137);
    width: 28%;
    text-align: left;
    padding: 15px;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 10px;
}.box-divb{
    background-color: rgb(157, 247, 154);
    width: 28%;
    text-align: left;
    padding: 15px;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 10px;
}
.last-do{
    text-align: center;
    background-color: black;
    height: 150px;
}
.last-do p{
    color: white;
}
.last{
    color: tomato;
    font-style: oblique;
}